$pt-compensate-navbar: 73px;
$padding-default: 3rem;

$portfolio-swiper-img-width: 260px;
$portfolio-swiper-img-width-lg: 330px;
$blue-color: #6a969b;
$big-font: 'Hanken Grotesk', sans-serif;
$small-font: 'Inter', sans-serif;
