$pt-compensate-navbar: 73px;
$padding-default: 3rem;

$portfolio-swiper-img-width: 260px;
$portfolio-swiper-img-width-lg: 330px;
// $green-color: #736a07;
$blue-color: #6a969b;
// $blue-color: #f0ffec;
$big-font: 'Hanken Grotesk', sans-serif;
$small-font: 'Inter', sans-serif;
