<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Firma stolarska KORYL Meble. Meble na wymiar. Stolarz Rzeszów. Meble do kuchni, salonu, łazienki. Szafy, regały, komody, tapicerowane siedziska."
    />
    <link rel="shortcut icon" href="images/favicon.ico" />

    <title>Koryl MEBLE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="Koryl MEBLE" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Firma stolarska KORYL Meble. Meble na wymiar w Rzeszowie i okolicach. Meble do kuchni, salonu, łazienki. Szafy, regały, komody, tapicerowane siedziska. Zapraszamy do kontaktu!"
    />
    <meta property="og:image" content="images\fot_slider5_1136_852.jpg" />
    <meta property="og:type" content="website" />
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-scrollspy">
    <nav
      class="navbar navbar-expand-md navbar-light fixed-top bg-white"
      id="navbar-scrollspy"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#intro">
          <img src="images/logo.svg" alt="Logo firmy KORYL Meble" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-uppercase ms-auto mt-5 mt-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#intro"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus">O nas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#offer">Oferta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="intro" id="intro">
      <div class="container-fluid intro__wrapper">
        <div class="intro__slider">
          <div class="intro__slider-box"></div>
        </div>
      </div>
    </section>

    <div class="linear position-sticky text-white">
      <div class="linear__scroll">
        <div class="linear__text-wrap">
          <span class="linear__text">szafy</span>
          <span class="linear__text">kuchnie</span>
          <span class="linear__text">siedziska</span>
          <span class="linear__text">panele tapicerowane</span>
          <span class="linear__text">stoły</span>
          <span class="linear__text">komody</span>
          <span class="linear__text">regały</span>
          <span class="linear__text">meble łazienkowe</span>
          <span class="linear__text">łóżka</span>
          <span class="linear__text">szafki RTV</span>
          <span class="linear__text">półki</span>
        </div>
        <div class="linear__text-wrap" aria-hidden="true">
          <span class="linear__text">szafy</span>
          <span class="linear__text">kuchnie</span>
          <span class="linear__text">siedziska</span>
          <span class="linear__text">panele tapicerowane</span>
          <span class="linear__text">stoły</span>
          <span class="linear__text">komody</span>
          <span class="linear__text">regały</span>
          <span class="linear__text">meble łazienkowe</span>
          <span class="linear__text">łóżka</span>
          <span class="linear__text">szafki RTV</span>
          <span class="linear__text">półki</span>
        </div>
      </div>
    </div>

    <section class="portfolio" id="portfolio">
      <div class="container-fluid">
        <div class="portfolio__buttons">
          <p class="portfolio__text">Portfolio</p>
          <button
            type="button"
            id="prev-slide"
            class="portfolio__btn-prev slider__buttons btn-arrow-left"
            tabindex="0"
            aria-label="Następny slide"
          ></button>
          <button
            type="button"
            id="next-slide"
            class="portfolio__btn-next slider__buttons btn-arrow-left"
            tabindex="0"
            aria-label="Następny slide"
          ></button>
        </div>
        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__img-list">
              <img
                src="images/fot1_426_568.jpg"
                alt="Podświetlany regał do salonu na całą ścianę"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot2_426_568.jpg"
                alt="Szara wyspa kuchenna z drewnopodobnym blatem"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot3_426_568.jpg"
                alt="Biała komoda z drzwiami na nóżkach"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot4_426_568.jpg"
                alt="Miętowa szafka łazienkowa z białym blatem i dwoma umywalkami"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot5_426_568.jpg"
                alt="Biała szafa do przedpokoju"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot6_426_568.jpg"
                alt="Szara szafka nocna z szufladą"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot7_426_568.jpg"
                alt="Ciemnobrązowa zabudowa z siedziskiem pod okno i regałami na bibeloty"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot8_426_568.jpg"
                alt="Szafka RTV z szarymi drzwiczkami i blatem w kolorze jasnego drewna"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot9_426_568.jpg"
                alt="Biała szafa do wiatrołapu z potrójnymi drzwiami"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot10_426_568.jpg"
                alt="Białe siedzisko z tapicerowaną poduchą w kolorze szarym"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot11_426_568.jpg"
                alt="Zabudowa pralni z przesuwnymi drzwiami"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot12_426_568.jpg"
                alt="Nowoczesna kuchnia z podświetlanymi górnymi szafkami w kolorze szarym oraz białymi szafkami z drewnopodobnym blatem"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot13_426_568.jpg"
                alt="Biała komoda z drzwiami na nóżkach"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot14_426_568.jpg"
                alt="Dziecięce krzesełko bujane oraz domek dla lalek w koloze białym"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot15_426_568.jpg"
                alt="Nowoczesna kuchnia z gładkimi szafkami w kolorze szarym i górną zabudową w kolorze białym oraz z szarą wyspą z blatem drewnopodobnym"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot16_426_568.jpg"
                alt="Szafka łazienkowa w kolorze białym z blatem drewnopodobnym i umywalką nablatową"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot17_426_568.jpg"
                alt="Fragment zabudowy do salonu obejmujący podświetloną półkę w kolorze ciemnego drewna"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot18_426_568.jpg"
                alt="Regał do salonu na całą ścianę z podświetlanymi półkami"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot19_426_568.jpg"
                alt="Komoda w kolorze ciemnego drewna z trzema drzwiami"
                class="slider__img-item"
                loading="lazy"
              />
              <img
                src="images/fot20_426_568.jpg"
                alt="Prostokątny stół z blatem w kolorze ciemnego drewna i czarnymi, stalowymi nogami"
                class="slider__img-item"
                loading="lazy"
              />
            </div>
          </div>
          <div class="slider__scrollbar">
            <div class="slider__scrollbar-track">
              <div class="slider__scrollbar-thumb"></div>
            </div>
          </div>
        </div>

        <div class="modal">
          <div class="modal__wrap">
            <img class="modal__img" loading="lazy" />
            <div>
              <span class="modal__btn-prev"
                ><i class="bi bi-caret-left"></i
              ></span>
              <span class="modal__btn-next"
                ><i class="bi bi-caret-right"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="aboutus" id="aboutus">
      <div class="container-fluid">
        <div class="aboutus__wrapper">
          <div class="row">
            <div class="col-12 col-lg-10">
              <h2 class="aboutus__title">
                <span>Dom</span>, mieszkanie czy biuro to miejsce
                <span>szczególne</span>, w którym powinniśmy czuć się dobrze i
                <span>komfortowo</span>
              </h2>
              <div
                class="d-flex flex-column flex-xl-row justify-content-xxl-between align-items-xl-center"
              >
                <h3 class="aboutus__subtitle">
                  Oferujemy kompleksową usługę, która pozwala nam kreować i
                  produkować od podstaw wyjątkowe meble i wnętrza. Tworzymy
                  unikatową i wyróżniającą się dbałością o detale przestrzeń
                  prywatną. Naszym klientom oferujemy pełne wsparcie na każdym
                  etapie projektowania mebli i urządzania wnętrz.
                </h3>
                <div
                  class="d-flex align-items-center justify-content-center flex-grow-1"
                >
                  <div class="d-none d-xl-block">
                    <img
                      src="images/logo.svg"
                      alt="Logo firmy KORYL Meble"
                      class="aboutus__logo-image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutus__wrapper-slider">
          <div class="aboutus__images-scroll">
            <div class="aboutus__images-wrap">
              <img
                src="images/fot_slider1_1136_852.jpg"
                alt="Białe siedzisko z drzwiczkami i ciemnoszarą poduchą"
                class="aboutus__image"
                loading="lazy"
              />
              <img
                src="images/fot_slider2_1136_852.jpg"
                alt="Beżowe biurko kotwione do ściany tylnej z dużą ilością szuflad"
                class="aboutus__image"
                loading="lazy"
              />
              <img
                src="images/fot_slider3_1136_852.jpg"
                alt="Nowoczesna kuchnia z gładkimi szafkami w kolorze szarym i górną zabudową w kolorze białym oraz z szarą wyspą z blatem drewnopodobnym"
                class="aboutus__image"
                loading="lazy"
              />
              <img
                src="images/fot_slider4_1136_852.jpg"
                alt="Miętowa szafka łazienkowa z białym blatem i dwoma umywalkami"
                class="aboutus__image"
                loading="lazy"
              />
              <img
                src="images/fot_slider5_1136_852.jpg"
                alt="Szafka łazienkowa w kolorze białym z blatem drewnopodobnym i umywalką nablatową"
                class="aboutus__image"
                loading="lazy"
              />
              <img
                src="images/fot_slider6_1136_852.jpg"
                alt="Podświetlany regał do salonu na całą ścianę"
                class="aboutus__image"
                loading="lazy"
              />
              <img
                src="images/fot_slider7_1136_852.jpg"
                alt="Szafka RTV z szarymi drzwiczkami i blatem w kolorze jasnego drewna"
                class="aboutus__image"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="offer bg-dark" id="offer">
      <div class="offer__wrapper container-fluid">
        <h2 class="offer__heading">Oferta dla <span>klienta</span></h2>
        <div class="offer__contact-buttons contact-buttons d-flex">
          <a
            href="https://www.instagram.com/koryl.meble/?igsh=MW95NHJ6d2ZqMHZ0Zg%3D%3D&fbclid=IwY2xjawEmvVpleHRuA2FlbQIxMAABHdPWo0AKE5MwD-a8fNhPTy74qs5LhTpIytozYHQFyPkjFaHbWdp4Vn7h1g_aem_JUk0zGTMWzqxtr5nQImOoA"
            ><i class="bi bi-instagram"></i
          ></a>
          <a href="https://www.facebook.com/profile.php?id=61552279268291"
            ><i class="bi bi-facebook"></i
          ></a>
          <a href="#contact" class="contact-button"
            >Kontakt <i class="bi bi-arrow-right"></i
          ></a>
        </div>
        <div class="col-12 col-lg-9">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Wycena realizacji
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Do wstępnej wyceny dokładny pomiar nie jest wymagany. Wycena
                  drogą mailową jest bezpłatna. Możliwe jest spotkanie w miejscu
                  inwestycji w celu doradztwa oraz wyceny mebli.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Projekt
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Klientom oferujemy pełne wsparcie na każdym etapie
                  projektowania mebli i urządzania wnętrz. Doświadczenie, wiedza
                  i kompleksowość pozwalają nam spełniać wszelkie marzenia
                  naszych klientów – niezależnie od wielkości realizowanego
                  projektu..
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  Wybór materiałów
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Stosujemy produkty marek takich jak Egger i Kronospan. Naszym
                  głównym dostawcą akcesoriów i okuć jest marka Blum. Wykonujemy
                  siedziska oraz panele tapicerowane z bardzo szerokiej gamy
                  kolorystyki i struktury materiału.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  Szczegółowy pomiar
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Szczegółowe pomiary u klienta wykonywane są po uzgodnieniu i
                  zatwierdzeniu projektu oraz wyborze rodzaju i kolorystyki
                  materiałów.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  Montaż mebli
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Ergonomiczne zastosowania dla swobodnego użytkowania – tym
                  kierujemy się, tworząc wszelkiego rodzaju zabudowy. Dzięki
                  wykorzystaniu materiałów wysokiej jakości nasze meble będą
                  ozdobą Waszego mieszkania przez długi czas.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="background-image bg-dark">
      <div class="container-fluid">
        <div class="background-image__wrapper"></div>
      </div>
    </section>

    <section class="contact bg-dark text-light" id="contact">
      <div class="container-fluid">
        <div
          class="contact__wrapper d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-items-center"
        >
          <div class="contact__logo mt-4">
            <img src="images/logo-white.svg" alt="Logo firmy KORYL Meble" />
          </div>
          <div class="contact__items-wrapper">
            <div class="contact__item">
              <a href="tel:+48733033200"
                ><i class="bi bi-telephone"></i>733 033 200</a
              >
            </div>
            <div class="contact__item">
              <a href="mailto:korylmeble@gmail.com"
                ><i class="bi bi-envelope-at"></i>korylmeble@gmail.com</a
              >
            </div>
            <div class="contact__item">
              <a
                href="https://www.google.pl/maps/place/Rzesz%C3%B3w/@50.0134687,21.8940161,12z/data=!3m1!4b1!4m6!3m5!1s0x473cfae3cc14d449:0xd2240d31b33eb2ed!8m2!3d50.0411867!4d21.9991196!16zL20vMGp4MnY?entry=ttu&g_ep=EgoyMDI0MDkyMi4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                ><i class="bi bi-geo-alt"></i>Rzeszów</a
              >
            </div>
            <div
              class="socials d-flex align-items-center justify-content-evenly justify-content-md-start"
            >
              <div class="contact__social-item me-md-5">
                <a href="https://www.facebook.com/profile.php?id=61552279268291"
                  ><i class="bi bi-facebook"></i
                ></a>
              </div>
              <div class="contact__social-item">
                <a
                  href="https://www.instagram.com/koryl.meble/?igsh=MW95NHJ6d2ZqMHZ0Zg%3D%3D&fbclid=IwY2xjawEmvVpleHRuA2FlbQIxMAABHdPWo0AKE5MwD-a8fNhPTy74qs5LhTpIytozYHQFyPkjFaHbWdp4Vn7h1g_aem_JUk0zGTMWzqxtr5nQImOoA"
                  ><i class="bi bi-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer bg-dark text-light">
      <div class="container-fluid">
        <div
          class="footer__wrapper d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center"
        >
          <p>Copyright 2024 © KORYL Meble.</p>
          <p>Made with <i class="bi bi-suit-heart"></i> by aurora.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
